<div class="c-card u-text--centered" *ngIf="user">
  <div class="u-content--center">
    <div class="c-card__content u-padding--none u-border--none">
      <div class="c-card__header u-border--bottom">
        <img
          class="u-image u-image--150 u-image--rounded"
          [src]="user.picture.large"
          alt="profile-picture"
        />
      </div>
      <div>
        <h3 class="c-card__subtitle">{{ label }}</h3>
        <h2 class="u-text--lg c-card__title">{{ value }}</h2>
      </div>
    </div>
    <ul class="c-tabs l-row u-grid-justify--center u-padding--md">
      <app-tab icon="user" [active]="activeTabName == 'name'" (mouseover)="setActiveTab('name')"></app-tab>
      <app-tab icon="email" [active]="activeTabName == 'email'" (mouseover)="setActiveTab('email')"></app-tab>
      <app-tab icon="calendar" [active]="activeTabName == 'birthday'" (mouseover)="setActiveTab('birthday')"></app-tab>
      <app-tab icon="map-location" [active]="activeTabName == 'address'" (mouseover)="setActiveTab('address')"></app-tab>
      <app-tab icon="call" [active]="activeTabName == 'phone'" (mouseover)="setActiveTab('phone')"></app-tab>
      <app-tab icon="locked" [active]="activeTabName == 'password'" (mouseover)="setActiveTab('password')"></app-tab>
    </ul>
  </div>
</div>
